// Carregando funções do Bootstrap
@import "../../node_modules/bootstrap/scss/functions";
// !!sobscrever váriaveis aqui

// alterando a fonte padrão do bootstrap
$font-family-base: 'Poppins', sans-serif;
// cor principal dos botões
$primary: #1ED760;
// cor dos meus inputs
$secondary: #585858;
// alterando a cor dos meus placeholders (alterando váriavel do bootstrap responsável pela cor deles)
$input-placeholder-color: #ffffff;

// cor dos cards na home
$bg-body-tertiary: #292929;
// cor de fundo da tela alterando a classe bg-body
$body-bg: #121212;

// Importando variáveis e mixins do Bootstrap
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/mixins";
// Importando componentes do Bootstrap (depois das variáveis)
@import "../../node_modules/bootstrap/scss/bootstrap";

// chamando minha fonte
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');