// css da tela de login e cadastro

// vai atingir o celular
.logo img {
    width: 50vw;
}

// Tablet (768px a 1024px)
@media (min-width: 768px) and (max-width: 1024px) {
    img {
        width: 25vw;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    img {
        width: 15vw;
    }
}
